<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<nav th:fragment="header" class="navbar navbar-dark bg-primary navbar-expand-lg">
  <a class="navbar-brand" th:href="@{/}">
    <img th:src="@{images/logo.png}" width="100" alt="" src="../../static/images/logo.png"/>
    Ресторан
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">Усі страви<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" sec:authorize="hasAuthority('USER')">
        <a class="nav-link" th:href="@{/my-orders}">Мої замовлення</a>
      </li>
      <li class="nav-item" sec:authorize="hasAuthority('ADMINISTRATOR')">
        <a class="nav-link" th:href="@{/orders}">Усі замовлення</a>
      </li>
      <li class="nav-item" sec:authorize="hasAuthority('COOK')">
        <a class="nav-link" th:href="@{/orders/cook}">Замовлення на кухні</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Вихід</button>
    </form>

    <form class="form-inline my-2 my-lg-0 mr-2" sec:authorize="isAnonymous()" th:action="@{/register}" method="get">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Реєстрація</button>
    </form>
    <form class="form-inline my-2 my-lg-0" sec:authorize="isAnonymous()" th:action="@{/login}" method="get">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Увійти</button>
    </form>
  </div>
</nav>
</body>
</html>

